.wordCard {
  background: white;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 5px solid var(--light-purple);
  transition: all 0.3s ease;
}

.wordCard:hover {
  transform: translateX(10px);
  box-shadow: 10px 10px 30px rgba(99, 103, 255, 0.08);
}

.editingCard {
  border: 2px solid var(--secondary);
  transform: scale(1.02);
  background-color: #fdfdff;
}

.wordText {
  color: var(--primary);
  margin: 0 0 10px 0;
}

.meaningGroup {
  display: flex;
  flex-direction: column;
}

.meaning {
  margin: 2px 0;
  padding-right: 4px;
  width: fit-content;
  color: var(--text-sub);
  font-size: 0.95rem;
  font-style: italic;
}

.activeMeaning {
  background-color: var(--soft-pink);
  color: var(--primary);
  font-weight: 700;
  transform: translateX(5px);
}

.cardActions {
  display: flex;
  gap: 8px;
}

.editBtn,
.delBtn {
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s;
}

.editBtn:hover {
  background: var(--secondary);
  color: white;
  transform: translateY(-2px);
}

.delBtn:hover {
  background: #ff7675;
  color: white;
  transform: translateY(-2px);
}

.editable {
  cursor: pointer;
  border: 1px dashed var(--light-purple);
}

.editable:hover {
  background-color: rgba(201, 190, 255, 0.2);
}

.saveBtn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(99, 103, 255, 0.3);
}

.checkIcon {
  float: right;
  font-size: 0.8rem;
}